.grid-container{
    display: grid;
    grid-template-areas: 
    "models car-preview"
    "wheels car-preview"
    "colors car-preview";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:16px;
    margin: 64px 128px 64px 128px;
}
#models{
    grid-area:models;
    background-color: grey;
}
#wheels {
    grid-area: wheels;
    background-color: steelblue;
}
#colors {
    grid-area: colors;
    background-color: rgb(253, 174, 174);
}
#car-preview {
    grid-area: car-preview;
    background-color: rgb(225, 255, 203);
}
