@charset "UTF-8";
/** CSS VARIABLES PREFIX **/
/** FONT FAMILIES **/
/** FONT SIZES (fs-number)**/
/** FONT WEIGHT **/
/** LEADINGS / LINE HEIGHTS **/
/** COLORS **/
/** SHADOWS **/
/** THEME GLOBAL VARIABLES / variables del tema **/
/** CREA UNA VARIACION DE COLOR PARA BOTONES**/
/**CREA MEDIA QUERY BREAKPOINTS**/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700&display=swap");
html {
  color-scheme: light;
  scroll-behavior: smooth;
}

html,
body {
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  /*tamaño y posicion*/
  position: relative;
  min-height: 100vh;
  /*texto*/
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  -webkit-text-size-adjust: 100%;
  -webkit-top-highlight-color: transparent;
  color: var(--def-body-text-color, #64748b);
  font-size: var(--def-font-size-base, 1rem);
  line-height: var(--def-font-height-base, 1.5);
  font-weight: var(--def-font-weight-base, 400);
  /*fuentes seguras*/
  font-family: var(--def-font-primary, Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
  /*fondo*/
  background-color: var(--def-body-bg-color, #f1f5f9);
}

/** DEFAULT STYLES **/
img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--def-heading-text-color, #334155);
  font-weight: 500;
  line-height: 1.25;
  font-family: var(--def-font-secondary, ui-serif, Georgia, Cambria, "Timews New Roman", Times, serif);
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
  margin-bottom: 0;
}

h1 {
  margin: 32px, 0;
  font-size: 48px;
}

h2 {
  margin: 32px, 0;
  font-size: 36px;
}

h3 {
  margin: 24px, 0;
  font-size: 30px;
}

h4 {
  margin: 20px, 0;
  font-size: 24px;
}

h5 {
  margin: 18px, 0;
  font-size: 20px;
}

h6 {
  margin: 16px, 0;
  font-size: 18px;
}

p {
  color: var(--def-body-text-color, #64748b);
  margin: 16px 0;
  font-weight: var(--def-font-weight-base, 400);
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}

.container {
  width: 100%;
  display: block;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.flex-container {
  gap: 16px;
  display: flex;
  align-items: center;
}
.flex-container.wrap {
  flex-wrap: wrap;
}
.flex-container-columns {
  gap: 16px;
  display: flex;
  align-items: center;
}

.animate-all {
  transition: all 0.2s ease-in-out;
}
.animate-all * {
  transition: all 0.2s ease-in-out;
}

/**GENERA TODOS LOS MARGINS Y PADDINGS**/
.pt-0 {
  padding-top: 0rem;
}

.pl-0 {
  padding-left: 0rem;
}

.pr-0 {
  padding-right: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pt-7 {
  padding-top: 2rem;
}

.pl-7 {
  padding-left: 2rem;
}

.pr-7 {
  padding-right: 2rem;
}

.pb-7 {
  padding-bottom: 2rem;
}

.px-7 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-7 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pt-8 {
  padding-top: 2.25rem;
}

.pl-8 {
  padding-left: 2.25rem;
}

.pr-8 {
  padding-right: 2.25rem;
}

.pb-8 {
  padding-bottom: 2.25rem;
}

.px-8 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.py-8 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.pt-9 {
  padding-top: 2.5rem;
}

.pl-9 {
  padding-left: 2.5rem;
}

.pr-9 {
  padding-right: 2.5rem;
}

.pb-9 {
  padding-bottom: 2.5rem;
}

.px-9 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-9 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.pt-10 {
  padding-top: 3rem;
}

.pl-10 {
  padding-left: 3rem;
}

.pr-10 {
  padding-right: 3rem;
}

.pb-10 {
  padding-bottom: 3rem;
}

.px-10 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-10 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-11 {
  padding-top: 3.5rem;
}

.pl-11 {
  padding-left: 3.5rem;
}

.pr-11 {
  padding-right: 3.5rem;
}

.pb-11 {
  padding-bottom: 3.5rem;
}

.px-11 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.py-11 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.pt-12 {
  padding-top: 4rem;
}

.pl-12 {
  padding-left: 4rem;
}

.pr-12 {
  padding-right: 4rem;
}

.pb-12 {
  padding-bottom: 4rem;
}

.px-12 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-12 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.mt-0 {
  padding-top: 0rem;
}

.ml-0 {
  padding-left: 0rem;
}

.mr-0 {
  padding-right: 0rem;
}

.mb-0 {
  padding-bottom: 0rem;
}

.mx-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.my-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.mt-1 {
  padding-top: 0.25rem;
}

.ml-1 {
  padding-left: 0.25rem;
}

.mr-1 {
  padding-right: 0.25rem;
}

.mb-1 {
  padding-bottom: 0.25rem;
}

.mx-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.my-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.mt-2 {
  padding-top: 0.5rem;
}

.ml-2 {
  padding-left: 0.5rem;
}

.mr-2 {
  padding-right: 0.5rem;
}

.mb-2 {
  padding-bottom: 0.5rem;
}

.mx-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.my-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.mt-3 {
  padding-top: 0.75rem;
}

.ml-3 {
  padding-left: 0.75rem;
}

.mr-3 {
  padding-right: 0.75rem;
}

.mb-3 {
  padding-bottom: 0.75rem;
}

.mx-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.my-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.mt-4 {
  padding-top: 1rem;
}

.ml-4 {
  padding-left: 1rem;
}

.mr-4 {
  padding-right: 1rem;
}

.mb-4 {
  padding-bottom: 1rem;
}

.mx-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.my-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mt-5 {
  padding-top: 1.25rem;
}

.ml-5 {
  padding-left: 1.25rem;
}

.mr-5 {
  padding-right: 1.25rem;
}

.mb-5 {
  padding-bottom: 1.25rem;
}

.mx-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.my-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.mt-6 {
  padding-top: 1.5rem;
}

.ml-6 {
  padding-left: 1.5rem;
}

.mr-6 {
  padding-right: 1.5rem;
}

.mb-6 {
  padding-bottom: 1.5rem;
}

.mx-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.my-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.mt-7 {
  padding-top: 2rem;
}

.ml-7 {
  padding-left: 2rem;
}

.mr-7 {
  padding-right: 2rem;
}

.mb-7 {
  padding-bottom: 2rem;
}

.mx-7 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.my-7 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.mt-8 {
  padding-top: 2.25rem;
}

.ml-8 {
  padding-left: 2.25rem;
}

.mr-8 {
  padding-right: 2.25rem;
}

.mb-8 {
  padding-bottom: 2.25rem;
}

.mx-8 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.my-8 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.mt-9 {
  padding-top: 2.5rem;
}

.ml-9 {
  padding-left: 2.5rem;
}

.mr-9 {
  padding-right: 2.5rem;
}

.mb-9 {
  padding-bottom: 2.5rem;
}

.mx-9 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.my-9 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.mt-10 {
  padding-top: 3rem;
}

.ml-10 {
  padding-left: 3rem;
}

.mr-10 {
  padding-right: 3rem;
}

.mb-10 {
  padding-bottom: 3rem;
}

.mx-10 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.my-10 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.mt-11 {
  padding-top: 3.5rem;
}

.ml-11 {
  padding-left: 3.5rem;
}

.mr-11 {
  padding-right: 3.5rem;
}

.mb-11 {
  padding-bottom: 3.5rem;
}

.mx-11 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.my-11 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.mt-12 {
  padding-top: 4rem;
}

.ml-12 {
  padding-left: 4rem;
}

.mr-12 {
  padding-right: 4rem;
}

.mb-12 {
  padding-bottom: 4rem;
}

.mx-12 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.my-12 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.grid-container {
  display: grid;
  grid-template-areas: "car-preview models" "car-preview interior" "car-preview colors" "car-preview actions";
  grid-template-columns: 1.2fr 0.8fr;
  gap: 10px 10px;
  padding: 128px 64px 128px 64px;
}

#models {
  grid-area: models;
}

#colors {
  grid-area: colors;
}

#car-preview {
  grid-area: car-preview;
}

#interior {
  grid-area: interior;
}

#actions {
  grid-area: actions;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-areas: "models" "interior" "colors" "car-preview" "actions";
  }
}
.image {
  transition: all 0.3s;
  width: 100%;
  height: 100%;
}
.image-xl {
  width: 550px;
  height: auto;
}
.image-l {
  width: 450px;
  height: auto;
}
.image-m {
  width: 70px;
  height: auto;
}
.image-s {
  width: 45px;
  height: auto;
}
.image:hover {
  transform: scale(1.2);
}

:root[data-theme=audix] {
  color-scheme: dark;
  --def-font-primary: "Montserrat";
  --def-font-secondary: "DM Sans";
  --def-body-bg-color: #1f2023;
  --def-body-text-color: #bebebe;
  --def-heading-text-color: #FFFFFF;
  --def-header-bg-color:#2e2f36;
  --def-header-border-color:#393b43;
  --def-footer-bg-color:#393b43;
  --def-hero-text-color:#393b43;
  --def-hero-gradient-start:#ea90ff;
  --def-hero-gradient-end:#eaff6a;
  --def-color-primary: #eaff6a;
  --def-color-primary-hover: #d4e761;
  --def-color-primary-contrast:#1f2023;
  --def-color-secondary: #393b43;
  --def-color-secondary-hover: #2b2c32;
  --def-color-secondary-contrast:#d4e761;
  --def-card-bg: #2a2b32;
  --def-card-border: #393b43;
  --def-card-bg: #2a2b32;
  --def-card-border: #393b43;
  --def-input-bg-color: #27282D;
  --def-input-border-color: #393b43;
  --def-input-focus-border-color: #eaff6a;
  --def-input-invalid-color: #ff896f;
  --def-select-bg-color: #2e2f36;
  --def-select-hover-color: #393b43;
  --def-select-border-color: transparent;
  --def-select-focus-color: #eaff6a;
  --def-chevron: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(234, 255, 106)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'></polyline></svg>");
  --def-accordion-title-color: #FFFFFF;
  --def-accordion-title-bg: #2a2b32;
  --def-accordion-title-hover-bg: #393b43;
  --def-accordion-title-border: #393b43;
  --def-accordion-content-bg:#2a2b32;
}

:root[data-theme=default] {
  color-scheme: light;
  --def-font-primary: "Montserrat";
  --def-font-secondary: "DM Sans";
}

:root[data-theme=audix] {
  color-scheme: dark;
  --def-font-primary: "Montserrat";
  --def-font-secondary: "DM Sans";
  --def-body-bg-color: #1f2023;
  --def-body-text-color: #bebebe;
  --def-heading-text-color: #FFFFFF;
  --def-header-bg-color: #2e2f36;
  --def-header-border-color: #393b43;
  --def-footer-bg-color: #393b43;
  --def-hero-text-color: #ffffff;
  --def-hero-gradient-start: #000000;
  --def-hero-gradient-end: #000000;
  --def-color-primary: #83b3ff;
  --def-color-primary-hover: #83b3ff;
  --def-color-primary-contrast: #1f2023;
  --def-color-secondary: #393b43;
  --def-color-secondary-hover: #2b2c32;
  --def-color-secondary-contrast: #83b3ff;
  --def-card-bg: #2a2b32;
  --def-card-border: #393b43;
  --def-card-bg: #2a2b32;
  --def-card-border: #393b43;
  --def-input-bg-color: #27282D;
  --def-input-border-color: #393b43;
  --def-input-focus-border-color: #83b3ff;
  --def-input-invalid-color: #ff896f;
  --def-select-bg-color: #2e2f36;
  --def-select-hover-color: #393b43;
  --def-select-border-color: transparent;
  --def-select-focus-color: #83b3ff;
  --def-chevron: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(234, 255, 106)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'></polyline></svg>");
  --def-accordion-title-color: #FFFFFF;
  --def-accordion-title-bg: #2a2b32;
  --def-accordion-title-hover-bg: #393b43;
  --def-accordion-title-border: #393b43;
  --def-accordion-content-bg: #2a2b32;
}

.link {
  color: var(--def-color-primary, #3b82f6);
  padding: 2px 4px;
  display: inline-block;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
  line-height: 1.5;
  font-weight: 400;
  text-decoration: none;
}
.link:hover {
  opacity: 1;
}
.link:hover:after {
  transform: scale3d(1, 1, 1);
}
.link:after {
  width: 100%;
  height: 2px;
  content: "";
  display: block;
  transform: scale3d(0, 0, 1);
  transition: all 0.2s ease;
  border-radius: 2px;
  transform-origin: center;
  background-color: var(--def-color-primary, #3b82f6);
}

.btn {
  --def-btn-bg: #cbd5e1;
  --def-btn-color: #475569;
  --def-btn-border-color: transparent;
  --def-btn-hover-bg: #e2e8f0;
  --def-btn-hover-color: #475569;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 12px 32px;
  display: inline-flex;
  outline: 0;
  font-size: 1rem;
  text-align: center;
  transition: all 0.2s ease;
  font-weight: 400;
  line-height: 1;
  user-select: none;
  text-transform: none;
  text-decoration: none;
  color: var(--def-btn-color);
  border-color: var(--def-btn-border-color);
  border-radius: var(--def-btn-radius, 8px);
  background-color: var(--def-btn-bg);
}
.btn:hover {
  color: var(--def-btn-hover-color);
  background-color: var(--def-btn-hover-bg);
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--def-color-focus, #94a3b8);
}
.btn:active {
  transform: scale3d(0.95, 0.95, 1);
}
.btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.btn.btn-outline {
  --def-btn-bg: transparent;
  --def-btn-color: var(--def-body-text-color, #64748b);
  --def-btn-border-color: #cbd5e1;
  --def-btn-hover-bg: #cbd5e1;
}
.btn.btn-plain {
  --def-btn-bg: transparent;
  --def-btn-color: var(--def-body-text-color, #64748b);
  --def-btn-hover-bg: #cbd5e1;
}
.btn.btn-sm {
  padding: 8px 24px;
  font-size: 0.875rem;
}
.btn.btn-lg {
  padding: 16px 48px;
  font-size: 1.125rem;
}
.btn.btn-block {
  width: 100%;
  display: block;
}
.btn.btn-flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn.btn-primary {
  --def-btn-bg: var(--def-color-primary, #3b82f6);
  --def-btn-color: var(--def-color-primary-contrast, #eff6ff);
  --def-btn-hover-bg: var(--def-color-primary-hover, #60a5fa);
  --def-btn-hover-color: var(--def-color-primary-contrast, #eff6ff);
}
.btn.btn-primary.btn-outline {
  --def-btn-bg: transparent;
  --def-btn-color: var(--def-color-primary, #3b82f6);
  --def-btn-hover-bg: var(--def-color-primary, #3b82f6);
  --def-btn-hover-color: var(--def-color-primary-contrast, #eff6ff);
  --def-btn-border-color: var(--def-color-primary, #3b82f6);
}
.btn.btn-primary.btn-plain {
  --def-btn-bg: transparent;
  --def-btn-color: var(--def-color-primary, #3b82f6);
  --def-btn-hover-bg: var(--def-color-primary, #3b82f6);
}
.btn.btn-secondary {
  --def-btn-bg: var(--def-color-secondary, #64748b);
  --def-btn-color: var(--def-color-secondary-contrast, #f8fafc);
  --def-btn-hover-bg: var(--def-color-secondary-hover, #94a3b8);
  --def-btn-hover-color: var(--def-color-secondary-contrast, #f8fafc);
}
.btn.btn-secondary.btn-outline {
  --def-btn-bg: transparent;
  --def-btn-color: var(--def-color-secondary, #64748b);
  --def-btn-hover-bg: var(--def-color-secondary, #64748b);
  --def-btn-hover-color: var(--def-color-secondary-contrast, #f8fafc);
  --def-btn-border-color: var(--def-color-secondary, #64748b);
}
.btn.btn-secondary.btn-plain {
  --def-btn-bg: transparent;
  --def-btn-color: var(--def-color-secondary, #64748b);
  --def-btn-hover-bg: var(--def-color-secondary, #64748b);
}
.btn.btn-secondary.btn-outline {
  --def-btn-color: var(--def-body-text-color, #64748b);
}
.btn.btn-secondary.btn-plain {
  --def-btn-color: var(--def-body-text-color, #64748b);
}

.navbar {
  gap: 16px;
  height: 64px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.navbar-brand {
  height: 32px;
  display: none;
}
:root[data-theme=darkCoder] .navbar-brand#logo-dark {
  display: block;
}

:root[data-theme=default] .navbar-brand#logo-light {
  display: block;
}

.navbar-items {
  gap: 16px;
  display: flex;
}

.card {
  border: 1px solid var(--def-card-border, #e2e8f0);
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: 0 1px 2px 0 rgb(var(--prefix-shadow-color, 51 65 85)/0.05);
  border-radius: var(--def-card-radius, 10px);
  background-color: var(--def-card-bg, white);
}
.card:hover {
  box-shadow: 0 10px 15px -3px rgb(var(--prefix-shadow-color, 51 65 85)/0.1), 0 4px 6px -4px rgb(var(--prefix-shadow-color, 51 65 85)/0.1);
}
.card-content {
  padding: 20px 18px;
}
.card-title {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 500;
}
.card-image {
  width: 100%;
  height: auto;
}
.card-text {
  margin-bottom: 24px;
}
.card-actions {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.card-container {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.card-container .card {
  transition: all 0.5s;
  flex: 0 0 auto;
  width: 100%;
}
.card-container .card:hover {
  transform: translateY(-3%);
}
@media (min-width: 576px) {
  .card-container .card {
    width: calc(50% - 8px);
  }
}
@media (min-width: 1200px) {
  .card-container .card {
    width: calc(25% - 12px);
  }
}

.input-container {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  color: var(--def-input-text-color, var(--def-body-text-color, #64748b));
  border: 1px solid var(--def-input-border-color, #cbd5e1);
  display: block;
  padding: 10px 18px;
  outline: 0;
  font-size: 1.25rem;
  transition: all 0.2s ease;
  font-weight: 500;
  line-height: 1.5;
  padding-right: 24px;
  border-radius: 4px;
  background-color: var(--def-input-bg-color, white);
}
.input::placeholder {
  color: var(--def-input-text-color, var(--def-body-text-color, #64748b));
  opacity: 0.5;
}
.input:focus {
  outline: 0;
  border-color: var(--def-input-focus-border-color, #94a3b8);
}
.input:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.input.input-invalid {
  border-color: var(--def-input-invalid-color, #f87171);
}
.input.input-invalid:focus {
  border-color: var(--def-input-focus-border-color, #94a3b8);
}
.input-label {
  cursor: pointer;
  display: inline-block;
  font-size: 1.25rem;
  line-height: 1.5;
  user-select: none;
  font-weight: 400;
}
.input-info {
  margin: 0;
  opacity: 0.75;
  display: block;
  font-size: 0.875rem;
  line-height: 1.5;
}

.select {
  border: 1px solid transparent;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 0.875rem;
  appearance: none;
  transition: all 0.2s ease;
  line-height: 1.5;
  user-select: none;
  border-radius: 8px;
  padding-right: 32px;
  background-size: 24px auto;
  background-image: var(--def-chevron, url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(100, 116, 139)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'></polyline></svg>"));
  background-position: calc(100% - 4px) center;
  color: var(--def-select-text-color, var(--def-body-text-color, #64748b));
  border-color: var(--def-select-border-color, #94a3b8);
  background-color: var(--def-select-bg-color, #f8fafc);
}
.select:hover {
  background-color: var(--def-select-hover-color, white);
}
.select:focus {
  outline: 0;
  box-shadow: 0 0 0 1px var(--def-select-focus-color, #64748b);
  border-color: var(--def-select-border-color, #94a3b8);
}

.accordion {
  --def-accordion-chevron-angle: 0deg;
  overflow: hidden;
  appearance: none;
  box-shadow: 0 1px 2px 0 rgb(var(--prefix-shadow-color, 51 65 85)/0.05);
  border-radius: 8px;
}
.accordion-item[open] {
  --def-accordion-chevron-angle: -90deg ;
}
.accordion-title {
  color: var(--def-accordion-title-color, #475569);
  cursor: pointer;
  padding: 16px;
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  box-shadow: 0 0 0 1px var(--def-accordion-title-border, #e2e8f0);
  transition: all 0.2s ease-in-out;
  user-select: none;
  background-color: var(--def-accordion-title-bg, #f8fafc);
}
.accordion-title:hover {
  background-color: var(--def-accordion-title-hover-bg, #f1f5f9);
}
.accordion-title:focus {
  outline: 0;
  background-color: var(--def-accordion-title-hover-bg, #f1f5f9);
}
.accordion-title:after {
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  content: "";
  position: absolute;
  transition: all 0.2s ease-in-out;
  background: var(--def-chevron, url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(100, 116, 139)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'></polyline></svg>"));
  background-position: center;
  transform: rotate(var(--def-accordion-chevron-angle));
}
.accordion-title::marker {
  content: "";
}
.accordion-content {
  padding: 24px;
  padding-top: 32px;
  background-color: var(--def-accordion-content-bg, white);
}

/* HIDE RADIO */
.hiddenradio [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.hiddenradio [type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
.hiddenradio [type=radio]:checked + img {
  outline: 2.2px solid var(--def-color-primary-hover, #60a5fa);
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.base-layout {
  display: flex;
  flex-direction: column;
}
.base-header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 9000;
  position: fixed; /*siemrpe va a estar arriba*/
  box-shadow: 0 0 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
  border-bottom: 1px solid var(--def-header-border-color, #e2e8f0);
  background-color: var(--def-header-bg-color, #f8fafc);
}
.base-content {
  flex: 1;
  position: relative;
  margin-top: 64px;
}
.base-footer { /*siempre va a estar abao del todo sin importar el contenido*/
  padding: 32px 16px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  background-color: var(--def-footer-bg-color, #cbd5e1);
}
.base-footer p {
  color: var(--def-footer-text-color, var(--def-body-text-color, #64748b));
}

/*esta clase es la especial, simil banner*/
.hero-section {
  padding: 96px 16px;
  background-image: linear-gradient(to right, var(--def-hero-gradient-start, #334155), var(--def-hero-gradient-end, #0f172a));
}
.hero-section .hero-title {
  color: var(--def-hero-text-color, #f1f5f9);
  margin: 0px auto;
  max-width: 540px;
  text-align: center;
  line-height: 1.25;
  font-weight: 600;
  font-family: var(--def-font-primary, Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
}

.base-section {
  padding: 64px 0 32px;
  margin: 0 100px 0 50px;
}

.preview-layout {
  gap: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.preview-layout .btn {
  width: 100%;
  display: block;
}
@media (min-width: 768px) {
  .preview-layout {
    flex-direction: row;
  }
  .preview-layout .btn {
    width: auto;
    display: inline-block;
  }
}

/*# sourceMappingURL=styles.css.map */
